.tittle {  
    background-color: #03BCD1; 
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.container {
    background-color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(121, 120, 120);
    margin:0px 8px 10px;
    width: 18rem;
    height: 14rem;
    margin-top: 10px;
}

.cancel {
background-color: transparent;   
}

.cancel:hover {
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 0;
    align-items: center;
    margin-right: 6px;
}