.h1 {  
    background-color: #03BCD1; 
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
}

.container {
 
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(121, 120, 120);
    margin: 0px 10px;
    width: 335px;
    height: 100%;
    margin-top: 10px;
}

.cancel {
    margin-left: 43%;
}

.cancel:hover {
    cursor: pointer;
}