.container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(121, 120, 120);
    margin: 0px 10px;
    width: 101%;
    height: 40%;
    margin-top: 10px;
    text-align: right;
}