

.containrer {
   
    font-size: smaller;
    background-color: transparent;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    background-color: white;
    color: black;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(121, 120, 120);
    margin: 10px 10px;
    width: 25rem;
    height: 10%;
    margin-top: 10px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.ph {
    font-weight:bold;
    background-color: transparent;
    margin-top: -3px;
    text-align: center;
    border: solid 0.01px #00A2BF;
    border-radius: 10px;
}

.containrer:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #00A0C0;
    transform: scale(1.1);
    cursor: pointer;
    
}

.image {
    text-align: center;
    box-shadow: 0 1px 1px #9c9c9c;
    border-radius: 3px;
}
	