.btn {
    color: #ffffff;
    background-color: #00475f;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-left: 2px;
    
}

.box {
    border-radius: 10px;
    margin-right: 10px;
}