.container1 {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(121, 120, 120);
    margin: 0px 20px;
    width: 50%;
    height: 563px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(121, 120, 120);
    margin: 0px 10px;
    width: 96%;
    height: 1%;
    margin-top: 10px;
    
}

.info_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

.btn {
    margin-top: 0px;

    color: #ffffff;
    background-color: #04BCD1;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-left: 2px;
    width: fit-content;
    height: fit-content;
}

.info1 {
    text-align: left;
    margin-left: 23px;
}

.info2 {
    text-align: right;
    margin-right: 23px;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 100%;
}

.name {
    font-size: 50px;
}

.image {
    box-shadow: 0 1px 1px #9c9c9c;
}