.container {
    
    display: flex;
    margin-top: 17%;
    /* text-align:  center; */
    /* justify-content: center; */
    margin: 10px;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    /* margin-bottom: 24rem; */
    border-radius: 500px;

}

/* .box {
    background-color: transparent;
    margin-top: 5%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(121, 120, 120);
    margin: 0px 10px;
    width: fit-content;
    margin-top: 10px;
    
} */

.image {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 5px;
     transition: all .3s ease-in-out;  
     border-radius: 500px;
     width: 18rem;
     /* height: 10rem;  */
     box-shadow: 0 5px 10px rgba(121, 120, 120, 0.494);
     
}

.image:hover {
    transform: scale(1.1);
    /* border-radius: 10px;
    transition: 0.5s; */
    
}

/* .imgBack{
    background-image: -webkit-image-set("https://images4.alphacoders.com/667/667235.jpg");
    width: 100%;
    height: 1800%;
} */

.imgBack{
    position: absolute;
    
    
}
