
.nav {
    padding: 15px;
    margin-bottom: 10px;
    background-image: -webkit-image-set("https://images4.alphacoders.com/667/667235.jpg")
}

.font {
    color: rgb(255, 255, 255);
}

.other {
   
    margin-left: 66px;
   /*  display: flex; */
}

.img {
    border-radius: 50px;
}

.networks {
    
    margin-right: 10px; 
}

.networks:Hover {
    transform: rotate(5deg);
}



