.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: -webkit-image-set("https://images4.alphacoders.com/667/667235.jpg");
    padding: 8px;
    margin-bottom: 20px;
}

.title {
    margin-left: 6%;
    margin-top: 20px;
}