
.nav {
    padding: 15px;
    margin-bottom: 20px;
    background-image: -webkit-image-set("https://images4.alphacoders.com/667/667235.jpg")

}

.font {
    color: rgb(255, 255, 255);
}

.other {

    margin-left: 4px;
    
}

.img {
    border-radius: 0px;
    margin: 0;
}

.networks {
    
    margin-right: 10px; 
}

.networks:Hover {
    transform: rotate(5deg);
}



